p{
          font-size:20px;
          line-height: 30px;
          word-spacing: 10px;
          letter-spacing: 5px;;
}
h1{
          font-size:40px;
          text-decoration: underline wavy blue;
}