body{
          color:red;
}


.container1{
          color:green;
}
.container2{
          color:violet;
}
h1{
          color:orange;
}
a{
          color:black;
          text-decoration:none
}